.margin-top-10 {
  margin-top: 10px;
}

.descriptive-text {
  font-size: 18px;
}

.form {
  margin-top: 30px;
  width: 400px;

  form {
    .form-field {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
    }
  }

  label {
    padding-left: 8px;
    color:rgb(45, 46, 44);
    margin-bottom: 4px;
  }

  select {
    height: 32px;
    border-radius: 8px;
    background-color: white;
  }

  input[type="file"] {
    padding: 6px;
  }

  input[type="submit"] {
    height: 24px;
    border: 1px solid grey;
    border-radius: 16px;
    color: white;
    background-color: cadetblue;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #4b7f81;
  }
}

.temperature-infos {
  margin-bottom: 20px;
}

.coldest-spread-day {
  border: 2px solid cornflowerblue;
}

.warmest-spread-day {
  border: 2px solid coral;
}
.error-color {
  color: darkred;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

thead th {
  background-color: cadetblue;
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid white;
  text-align: left;
  font-size: 13px;
}

tfoot td {
  padding: 10px;
  background-color: cadetblue;
  color: white;
  text-align: left;
}
