<turbo-frame id="import-response">
  <div>The following error has occurred when processing the data:</div>
  <div class="error-color"><%= @parsed_data[:error_message] %></div>
  <div class="margin-top-10">Reload the page and try again</div>
</turbo-frame>
